input{
    border:1px solid black;
}
input:focus{
    background-color: #E6E6E6;
}

#nick{
    margin-left: 4%;
    display:none;
    width: 400px;
}

p{
    background: rgb(234, 234, 234);
    border: 1px solid rgb(200, 200, 200);}
    .solid {border-style:solid; width: 30em; height: 4em;
}

#trust_disgust, #sad_joy, #fear_anger, #surprise_interest{
        display:none;
        font-size: 80%;
}

#anger, #disgust, #fear, #joy, #sadness, #surprise, #trust, #anticipation{
        font-size: 80%;
}















